#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.fortuneImageEven {
  display: block;
  /* position:absolute; */
  top: 225px;
  height:500px;
  z-index: 2;
}

.fortuneImageOdd {
  display: block;
  /* position:absolute; */
  top: 225px;
  height:500px;
  z-index: 2;
}

.topSquareWrapper {
  display: flex;
  flex-direction: row;
  margin:auto;
  justify-content: center;
  gap:10px;
  z-index: 1;
}

.bottomSquareWrapper {
  display: flex;
  flex-direction: row;
  margin:auto;
  justify-content: center;
  gap:10px;
  margin-top: 10px;
  z-index: 1;
}

.squareOne{
height: 150px;
width: 150px;
color:antiquewhite;
background-color: antiquewhite;
}

.squareTwo{
  height: 150px;
  width: 150px;
color:antiquewhite;
background-color: antiquewhite;

}
.squareThree{
  height: 150px;
  width: 150px;
color:antiquewhite;
background-color: antiquewhite;

}
.squareFour{
  height: 150px;
  width: 150px;
color:antiquewhite;
background-color: antiquewhite;

}

.fortuneSelect {
  display: flex;
  gap:50px;
  margin:auto;
  justify-content: center;
  z-index: 3;
}