#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.fortuneimage {
  height:100px;
}

.topSquareWrapper {
  display: flex;
  flex-direction: row;
  margin:auto;
  justify-content: center;
  gap:10px;
}

.bottomSquareWrapper {
  display: flex;
  flex-direction: row;
  margin:auto;
  justify-content: center;
  gap:10px;
  margin-top: 10px;
}

.squareOne{
height: 150px;
width: 150px;
color:antiquewhite;
background-color: antiquewhite;
}

.squareTwo{
  height: 150px;
  width: 150px;
color:antiquewhite;
background-color: antiquewhite;

}
.squareThree{
  height: 150px;
  width: 150px;
color:antiquewhite;
background-color: antiquewhite;

}
.squareFour{
  height: 150px;
  width: 150px;
color:antiquewhite;
background-color: antiquewhite;

}