#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  display:flex;
  flex-direction: column;
  background-color: black;
  color:white;
}

.title {
  font-size: 50px;
}

.subTitle {
  font-size: 100px;
}

.pokeMe {
  position: absolute;
  height: 75px;
  width: 300px;
  border-color: white;
  color:white;
  background-color: black;
}

.pokeMe:active {
  outline: none;
  -webkit-box-shadow: inset 0px 0px 5px hsl(244, 45%, 22%);
  -moz-box-shadow: inset 0px 0px 5px hsl(244, 45%, 22%);
  box-shadow: inset 0px 0px 5px hsl(244, 45%, 22%);
  text-shadow: none;
  outline: none;
}

.pokeMe:hover,
.pokeMe:focus-visible {
  color: #e3edfc;
  background: hsla(56, 33%, 60%, 0.842);
}

.gallery {
  display:flex;
  flex: 0 0 calc(100% / 3);
  width: 75.33%;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 20px;
  justify-content: center;
  align-items: center;
}

.image {
  height: 140px;
}

